<div class="container">
  <h1>Pedidos cadastrados</h1>
  <% if @orders.present? %>
  <div class="col">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th>Usuário</th>
          <th>Código do pedido</th>
          <th>Valor RB</th>
          <th>Status do pedido</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.customer.name %></td>
            <td><%= link_to order.code, merchant_order_path(order.id) %></td>
            <td><%= number_with_precision order.total_value, precision: 2 %></td>
            <td><%= Order.human_attribute_name(order.status) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
  <% else %>
    <span>Não existem pedidos cadastrados</span>
  <% end %>
</div>